<div class="jumbotron" style="text-align: center;">

    <h1>Viaro Networks APP</h1>

    @Html.ActionLink("Alumno", null, "AlumnoHome", new { area = "" }, new { @class = "btn btn-primary btn-lg" })

    @Html.ActionLink("Profesor", null, "ProfesorHome", new { area = "" }, new { @class = "btn btn-primary btn-lg" })

    @Html.ActionLink("Grado", null, "GradoHome", new { area = "" }, new { @class = "btn btn-primary btn-lg" })

    @Html.ActionLink("AlumnoGrado", null, "AlumnoGradoHome", new { area = "" }, new { @class = "btn btn-primary btn-lg" })

</div>